/* first_pic_style */
*{
    margin: 0;
    padding: 0;
}
.first_pic{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.title_1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 170px;
    font-weight: 400;
}
.title_2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
     
}
.offer , .offer h1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}
.offer h3{
    color: #F00;
    text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.offer h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hello {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url("../resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.second-img {
    padding-top: 40px;
}
.hello-title {
    color: #fff;
    font-family: Merriweather;
    letter-spacing: 7px;
    padding-top: 120px;
    padding-left: 120px;
    font-size: 64px;
    font-weight: 900;
}
.hello-description {
    color: #fff;
    padding-top: 24px;
    padding-left: 120px;
    color: Inter;
    padding-bottom: 50px;
}
.join-now {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: Inter;
    color: white;
    padding-left: 140px;
}
.join-1 {
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    text-align: center;
    background-image: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%
    );
    padding-top: 100px;
}
.join-1 h5 {
    line-height: 2;
}
.org {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.join-1 h5 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.join {
    border-style: none;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    background: #f00;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.coming-soon {
    padding-top: 70px;
    /* height: 120px;
    width: 400px; */
}
.offer_1 {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-main-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.img {
    height: 360px;
    width: 370px;
    border-radius: 50%;
    border: 15px solid #f00;
    align-items: center;
}
.number {
    padding-top: 30px;
}
.number-title {
    color: #f00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.number-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
#year {
    margin: 20px;
}
.offer-container {
    width: 1320px;
    display: flex;
    justify-content: center;
    
    text-align: center;
    margin: auto;
}
  
.holidays {
    width: 1320px;
    margin: 50px auto;
    margin-top: 130px;
    text-align: center;
}
.holidays-sub-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holidays-title {
    color: #f00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-description {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}
.holiday-img {
    display: flex;
    padding: 50px;
    position: relative;
    top: 0;
    left: 0;
}
#discount{
      position: absolute;
      top: 100px;
      left: 680px;
}
#red{
      position: relative;
      top: 0;
      left: 0;
}
.shopping-items {
    width: 1320px;
    margin: 50px auto;
}
.images1 {
    display: flex;
    justify-content: space-around;
  }
.images2 {
    display: flex;
    justify-content: space-around;
}
.best-gift {
    width: 1320px;
    margin: 100px auto;
}
.hello__1{
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.hello__2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.best-gift-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}
.images1 {
    display: flex;
    justify-content: space-around;
  }
.images2 {
    display: flex;
    justify-content: space-around;
}
.subscribe {
    padding: 100px 50px;
    width: 1320px;
    text-align: center;
    margin: 100px auto;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
}
.sub-description {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}
.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 0px;
    font-size: 26px;
}
button {
    padding: 10px 20px;
    background-color: #f00;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
    border: none;
    font-size: 26px;
}
footer {
    background-color: #070211;
    width: 1700px;
    height: 609px;
    margin: 0 auto;
    margin-top: 100px;
}
.copyright {
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.info1 {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 50px 50px;
    padding-top: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    line-height: 2;
}
.icon_ {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hi {
    width: 1320px;
    height: 0.5px;
    background-color: rgba(9, 9, 9, 0.15);
    margin: 20px auto;
}
